
@import "tabs.css";

/**
 * As a general rule of thumb
 * - a widget is a functional area on the screen, such as the Resources Widget
 * - a gadget is a simpler grouping of screen elements, such as the Gold Gadget in the Resources Widget
 */

/* Overall Layout */

:root {
    /* --raised-border-colors:  #d2b48c; */
    /* --raised-border-colors:  #8d785c #e8d9c5 #e8d9c5 #8d785c ; /* top right bottom left */
    --raised-border-colors:  #c2a49c #e2c49c #e2c49c #c2a49c ; /* top right bottom left */
    /* --raised-border-colors: tan; */
    --raised-border: outset 4px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}

.application.tab-container {
    /* flex parent properties */
    flex-direction: column;
}

.application.tab-container > .tabs {
    /* flex parent properties */
    flex-direction: row;
}

.application {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main {
    /* flex parent properties */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: tan;
    padding: 5px;
    border: solid tan 1px;
}

.main .container-left {
    /* flex parent properties */
    display: flex;
    flex-direction: column;
    /* flex child properties */
    flex-grow: 60;
}

.main .container-right {
    /* flex parent properties */
    display: flex;
    flex-direction: column;
    /* flex child properties */
    flex-grow: 40;

    margin-left: 5px;
}

.main .container-left .effects-container {
    /* flex parent properties */
    display: flex;
    flex-direction: row;
}
.effects-container .resources-module {
    /* flex child properties */
    flex-grow: 60;
}

.effects-container .enchantments-module {
    /* flex parent properties */
    display: flex;
    flex-direction: column;

    /* flex child properties */
    flex-grow: 40;

    margin-left: 5px;
}

.main .city-title {
    font-size: 1.5em;
    text-align: center;
}

/* Population Module */
.population-module .top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.population-module .race-module {
    font-weight: bold;
}

.population-module .count-module {
}

.population-module .count-module .label {
    font-weight: bold;
}

/** Workers Module **/
.population-module .workers-widget {
    background-color: lightgray;
    border: inset tan 1px;
    padding-left: 2px;
}

.population-module .workers-widget .farmer::after {
    content: 'F'
}

.population-module .workers-widget .worker:after {
    content: 'W'
}

.population-module .workers-widget .rebel:after {
    content: 'R'
}

.population-module .workers-widget span {
    padding-left: 0.5em;
}

/* remove padding from the first on of the line */
.population-module .workers-widget span:first-of-type {
    padding-left: 0;
}

/* remove most of the padding between same types */
.population-module .workers-widget .computer-controlled ~ .computer-controlled {
    padding-left: 0.1em;
}
.population-module .workers-widget .player-controlled ~ .player-controlled {
    padding-left: 0.1em;
}
.population-module .workers-widget .not-controlled ~ .not-controlled {
    padding-left: 0.1em;
}


.population-module .workers-widget .subsistance-farmer {
    color: green;
}

.population-module .workers-widget .surplus-farmer {
    color: black;
}

.population-module .workers-widget .rebel {
    color: red;
}

/* Modules */
.module .label {
    font-weight: bold;
}

.module .content {
    background-color: lightgray;
    border: inset tan 1px;
}

/* Resources Module */
.resources-module .content {
    padding: 2px;
}

/* Right Column */

.container-right .map-module {
    /* flex child properties */
    flex-grow: 2;

    background-color: lightgray;
    border: inset tan 1px;
}

.container-right .units-module {
    /* flex parent properties */
    display: flex;
    flex-direction: column;
    /* flex child properties */
    flex-grow: 1;

    margin-top: 5px;
}

.container-right .producing-module {
    /* flex parent properties */
    display: flex;
    flex-direction: column;
    /* flex child properties */
    flex-grow: 1;

    margin-top: 5px;
}

.module .label {
    flex-grow: 0;
}
.module .content {
    flex-grow: 1;
}

/* Food Widget */
.food-widget {
    /* flex parent properties */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.food-widget .food-10::after {
    content: 'F'
}
.food-widget .food-1::after {
    content: 'f'
}

.food-widget span {
    padding-left: 0.5em;
}

/* remove padding from the first on of the line */
.food-widget span:first-of-type {
    padding-left: 0;
}

/* remove most of the padding between same types */
.food-widget .food-upkeep ~ .food-upkeep {
    padding-left: 0.1em;
}
.food-widget .food-income ~ .food-income {
    padding-left: 0.1em;
}
.food-widget .food-deficit ~ .food-deficit {
    padding-left: 0.1em;
}
.food-widget .food-deficit {
    color: red;
}
.food-widget .food-income {
    color: green;
}

/* Gold Widget */
.gold-widget {
    /* flex parent properties */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gold-widget .gold-10::after {
    content: 'G'
}
.gold-widget .gold-1::after {
    content: 'g'
}

.gold-widget span {
    padding-left: 0.5em;
}

/* remove padding from the first on of the line */
.gold-widget span:first-of-type {
    padding-left: 0;
}

/* remove most of the padding between same types */
.gold-widget .gold-upkeep ~ .gold-upkeep {
    padding-left: 0.1em;
}
.gold-widget .gold-income ~ .gold-income {
    padding-left: 0.1em;
}
.gold-widget .gold-deficit ~ .gold-deficit {
    padding-left: 0.1em;
}
.gold-widget .gold-deficit {
    color: red;
}
.gold-widget .gold-income {
    color: green;
}

/* Production Widget */
.production-widget {
    /* flex parent properties */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.production-widget .production-10::after {
    content: 'P'
}
.production-widget .production-1::after {
    content: 'p'
}

.production-widget span {
    padding-left: 0.1em;
}

/* remove padding from the first on of the line */
.production-widget span:first-of-type {
    padding-left: 0;
}

/** DIALOGS **/
.construction-dialog {
    display: none;
}

/** CONSTRUCTION TAB **/
.application .construction {
    /* flex parent properties */
    display: flex;
    flex-direction: column;

    padding: 5px;
}

.application .construction .container-top {
    /* flex parent properties */
    display: flex;
    flex-direction: row;

    /* flex child properties */
    flex-grow: 1;
}

.application .construction .queue {
    /* flex parent properties */
    display: flex;
    flex-direction: row;

    /* flex child properties */
    flex-grow: 0;

    background-color: tan;
    border: var(--raised-border);
    border-color: var(--raised-border-colors);
}

.application .construction .container-top .buildings {
    /* flex child properties */
    flex-grow: 0;

    min-width: 10em;
}

.application .construction .container-top .asset {
    /* flex parent properties */
    display: flex;
    flex-direction: column;

    /* flex child properties */
    flex-grow: 1;
}

.application .construction .container-top .units {
    /* flex child properties */
    flex-grow: 0;

    min-width: 10em;
}

.application .construction .container-top .asset .container-top {
    /* flex parent properties */
    display: flex;
    flex-direction: row;

    /* flex child properties */
    flex-grow: 0;

    height: 10em;
}

.application .construction .container-top .asset .details {
    /* flex child properties */
    flex-grow: 0;

    min-height: 10em;
    background-color: tan;

    border: var(--raised-border);
    border-color: var(--raised-border-colors);
}

.application .construction .container-top .asset .description {
    /* flex child properties */
    flex-grow: 1;

    min-height: 20em;
    background-color: tan;

    border: var(--raised-border);
    border-color: var(--raised-border-colors);
}

.application .construction .container-top .asset .actions {
    /* flex parent properties */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* flex child properties */
    flex-grow: 0;
}

.application .construction .container-top .asset .container-top .image {
    /* flex child properties */
    flex-grow: 0;

    min-width: 100px;
    min-height: 100px;
    border: var(--raised-border);
    border-color: var(--raised-border-colors);
}

.application .construction .container-top .asset .container-top .summary {
    /* flex parent properties */
    display: flex;
    flex-direction: column;

    /* flex child properties */
    flex-grow: 1;

    background-color: tan;
    border: var(--raised-border);
    border-color: var(--raised-border-colors);
}

.application .construction .container-top .asset .actions .button {
    /* flex child properties */
    flex-grow: 0;

    padding: 2px 1em 2px 1em;
    background-color: tan;

    border: var(--raised-border);
    border-color: var(--raised-border-colors);
}

.application .construction .container-top .asset .container-top .summary .name {
    /* flex child properties */
    flex-grow: 1;

    padding-left: 0.5em;
    padding-top: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

.application .construction .container-top .asset .container-top .summary .cost {
    /* flex child properties */
    flex-grow: 0;
}

.application .construction .container-top .asset .container-top .summary .cost .label {
    font-weight: bold;
}

.application .construction .container-top .asset .details .widget-maintenance .label {
    font-weight: bold;
}

.application .construction .container-top .asset .details .widget-allows .label {
    font-weight: bold;
}

.application .construction .container-top .construction-option {
    background-color: tan;
    padding: 3px;
    cursor: hand;
    border: var(--raised-border);
    border-color: var(--raised-border-colors);
}
.application .construction .container-top .construction-option ~ .construction-option {
    margin-top: 5px;
}

.application .construction .container-top .buildings .construction-option {
    margin-right: 3px;
}

.application .construction .container-top .units .construction-option {
    margin-left: 3px;
}

.application .construction .container-top .buildings .construction-option.active {
    font-weight: bold;
}

/* Construction Queue Items */

.application .construction .queue .project {
    /* flex child properties */
    flex-grow: 0;

    background-color: tan;
    border: var(--raised-border);
    border-color: var(--raised-border-colors);
    width: 5em;
    height: 5em;
}

.application .construction .queue .project .label {
    display: block;
    margin: 1em 0 0 0.5em;
}

/* THe little close / remove buttons used to remove things like queue items */
.x-close {
    display: block;
    float: right;
    padding: 0 5px 5px 5px;
    cursor: hand;
}
